* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5vh 5vw;
  background: white;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 3vh 5vw;
  }
}